* {
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

html {
	height: 100%;
}

.background {
	background: linear-gradient( rgba( 100, 100, 100, 0.8 ), rgba( 200, 200, 200, 0.8) ),
				url("https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	height: 100%;
	margin-top: -20px;
	position: absolute;
	left: 0;
	right: 0;
}

body {
	margin:0;
	height: 100%;
	min-width: 320px;
	padding-top: 20px;
}

header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	max-width: 1100px;
	height: 5.0rem;
	left: 50%;
	transform: translateX(-50%);
	border: black solid 2px;
	/*background: linear-gradient(217deg, rgba(200,0,0,.8), rgba(200,0,0,0) 70.71%),
	linear-gradient(127deg, rgba(0,200,0,.8), rgba(0,200,0,0) 70.71%),
	linear-gradient(336deg, rgba(0,0,200,.8), rgba(0,0,200,0) 70.71%);
	color: white; */
	padding-left: 20px;
	padding-right: 20px;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
}

header, .banner, .slider-container, main, main > section {
	background-color: rgba( 200, 200, 200, 0.8);
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

header * {
	display: inline-block;

}

nav {
	text-align: right;
	font-size: 1.4rem;
}

nav > ul {
	display: none;
}

nav li {
	list-style: none;
}

nav li:not(:nth-child(1))::before {
	content: "| ";
}

nav a {
	text-decoration: none;
	color: black;
}

.banner {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	max-width: 1100px;
	height: 200px;
	border: black solid 2px;
	margin-bottom: 20px;
}

.slider-container {
	position: relative;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.banner > p {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btn-arrow {
	position: absolute;
	text-align: center;
	border: solid black 2px;
	background-color: white;
	color: black;
	font-weight: bolder;
	padding: 6px;
	margin: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.btn-arrow > i {
	margin: 0;
	padding: 0;
}

#banner-prev {
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}

#banner-next {
	right: 0;
	top: 50%;
	transform: translate(50%, -50%);
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: rgba( 200, 200, 200, 0.8);
	border: black 2px solid;
	width: 90%;
	max-width: 1100px;
	min-height: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 20px;
}

main > section {
	margin: 5px;
	border: black 2px solid;
	width: calc(100% - 10px);
	padding-left: 5px;
	padding-right: 5px;
}

main > section > h2 {
	text-align: center;
}

main > section div:not(:nth-child(2)) {
	border-top: rgba(100, 100, 100, 0.8) solid 2px;
}

.width-1 {
	width: 100%;
}

.width-2 {
	width: calc( 100% / 2 );
}

.width-3 {
	width: calc( 100% / 3 );
}

.width-4 {
	width: calc( 100% / 4 );
}

.banner-slider {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
}

.banner-item {
	display: inline-block;
	height: 100%;
}

/* Since we continually reorder the banner items; we have to assigne them even / odd when created */
.banner-item-even {
	background-color: blue;
}

.banner-item-odd {
	background-color: red;
}

@media screen and ( min-width: 800px ) {
	main {
		flex-direction: row;
		justify-content: space-between;
	}

	main > section:nth-child(1) {
		flex: 3 3;
	}

	main > section:nth-child(2) {
		flex: 1 1;
	}
	
	nav > ul {
		display: inline-block;
	}

	nav > .hamburger-menu {
		display: none;
	}
}