* {
	box-sizing: border-box;
	font-family: 'PT Serif', serif;
}

.background {
	background-image: linear-gradient( rgba( 150, 150, 150, 0.8 ), rgba( 150, 150, 150, 0.8 ) ),
				url("https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	height: 100%;
	margin-top: -20px;
	filter: blur(2px);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	display: inline-block;
	position: fixed;
	left: 0;
	right: 0;
}

.header-background {
	background-image: linear-gradient( rgba( 150, 150, 150, 0.8 ), rgba( 150, 150, 150, 0.8 ) ),
				url("https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
	height: calc( 5.0rem + 30px );
	margin-top: -20px;
	filter: blur(2px);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	display: inline-block;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 2;
}

body {
	margin: 0;
	height: 100%;
	min-height: 100%;
	min-width: 320px;
	padding-top: 20px;
}

.ctr-main {
	position: relative;
	max-width: 1100px;
	left: 50%;
	transform: translateX(-50%);
}

header {
	position: fixed;
	width: 90%;
	max-width: 1100px;
	left: 50%;
	transform: translateX(-50%);
	height: 5.0rem;
	border: black solid 2px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 5;
}

header, .banner, .slider-container, main, main > section, .background {
	background-color: rgba( 200, 200, 200, 0.8);
	/*border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;*/
}

header > *:not(:nth-child(1)) {
	margin-left: 10px;
}
	

header * {
	display: inline-block;
}

nav.main-menu {
	text-align: right;
	font-size: 1.4rem;
}

nav > ul {
	display: none;
}

nav li {
	list-style: none;
}

nav.main-menu li:not(:nth-child(1))::before {
	content: "| ";
}

nav a {
	text-decoration: none;
	color: black;
}

.overlay-layer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba( 50, 50, 50, 0.8 );
	z-index: 10;
}

.overlay-box {
	position: fixed;
	right: 20px; /*overwritten by js */
	top: 120px;
	border: black 2px solid;
	background-color: rgba( 200, 200, 200, 0.9);
	box-shadow: 0 0 8px 10px rgba( 255, 255, 255, 0.8);
	text-align: left;
	padding: 8px;
	min-width: 125px;
	z-index: 20;
}

.overlay-box li {
	list-style: none;
	margin-bottom: 4px;
	margin-top: 4px;
}

.overlay-box a {
	text-decoration: none;
	color: black;
	font-size: 1.6rem;
}

.contact-overlay {
	min-width: 288px;
	padding: 20px;
}

.contact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
}

.contact i {
	margin-left: 0;
	margin-right: 10px;
}

.contact > li {
	font-size: 1.8rem;
	padding-left: 6px;
	padding-right: 6px;
}

.bio {
	min-width: 288px;
	max-width: 90%;
	padding: 20px;
	font-size: 1.4rem;
	line-height: 1.4;
}

.bio img {
	width: 150px;
	float: left;
	padding-right: 12px;
}

.banner {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	max-width: 1100px;
	height: 200px;
	border: black solid 2px;
	margin-bottom: 20px;
}

.slider-container {
	position: relative;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.btn-arrow {
	position: absolute;
	text-align: center;
	border: solid black 2px;
	background-color: white;
	color: black;
	font-weight: bolder;
	padding: 6px;
	margin: 0;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.btn-arrow > i {
	margin: 0;
	padding: 0;
}

.btn-arrow-prev {
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}

.btn-arrow-next {
	right: 0;
	top: 50%;
	transform: translate(50%, -50%);
}

#pause-slideshow {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: rgba( 200, 200, 200, 0.8 );
	text-align: center;
	right: 20px;
	bottom: 20px;
	border: black 2px solid;
	border-radius: 100%;

}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: rgba( 200, 200, 200, 0.8);
	border: black 2px solid;
	width: 90%;
	max-width: 1100px;
	min-height: 1px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 20px;
}

.first-section {
	margin-top: calc( 5.0rem + 20px );
}

main > section {
	position: relative;
	margin: 5px;
	border: black 2px solid;
	width: calc(100% - 10px);
	padding-left: 5px;
	padding-right: 5px;
}

main > section > div {
	padding: 4px;
	padding-bottom: 8px;
}

main > section > h2 {
	text-align: center;
	margin-bottom: 4px;
}

main > section a {
	text-decoration: none;
	color: black;
}

main > section h3 {
	margin-top: 2px;
	margin-bottom: 6px;
}

main section > div {
	border-bottom: rgba(100, 100, 100, 0.8) solid 2px;
}

.last-child-no-border-bottom *:last-child {
	border-bottom: none;
}

.banner-slider {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
}

.banner-item {
	display: inline-block;
	position: relative;
	color: white;
	text-decoration: none;
	white-space: normal;
	text-align:center;
	font-size: 1.8rem;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.banner-item-bgnd {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	background-image: linear-gradient( to bottom, rgba(50, 50, 50, 0.8), rgba( 100, 100, 100, 0.4) );
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
}

.banner-item-text {
	position: absolute;
	text-align: center;
	top: 0;
	padding-top: 10px;
	left: 20px;
	width: calc( 100% - 40px );
}

.banner-item-text > h2 {
	font-size: 2.0rem;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 8px;
	border-bottom: lightgray 1px solid;
}

.no-display {
	display: none;
}

.page-nav {
	text-align: center;
	font-size: 1.2rem;
}

.page-nav ul {
	padding: 0;
}

.page-nav li {
	display: inline-block;
}

.page-nav button {
	background-color: lightgrey;
	color: black;
	text-align: center;
	border: grey solid 2px;
	border-radius: 8px;
}

.page-nav button.current-page {
	background-color: black;
	color: white;
	border: black solid 2px;
}

/*
.page-nav button.nav-prev-page, .page-nav button.nav-next-page {
	background-color: blue;
	color: white;
	border: blue solid 2px;
}
*/

.page-nav button.nav-first-page, .page-nav button.nav-last-page {
	background-color: #E82A40;
	color: white; 
	border: #E82A40 solid 2px;
}

legend {
	display: none;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

@media screen and ( min-width: 640px ) {
	.banner-item {
		width: 50%;
	}
}

@media screen and ( min-width: 800px ) {
	main {
		flex-direction: row;
		justify-content: space-between;
	}

	main > section:nth-child(1) {
		flex: 3 3;
	}

	main > section:nth-child(2) {
		flex: 1 1;
	}
	
	nav > ul {
		display: inline-block;
	}

	nav > .hamburger {
		display: none;
	}

	nav > .hamburger-menu {
		display: none;
	}
	
	main > section {
		display: inline-block;
		height: calc(100% - 10px);
	}

	section > h2 {
		text-align: center;
	}
}

@media screen and ( min-width: 900px ) {
	.banner-item {
		width: calc( 100% / 3 );
	}

	.bio {
		max-width: 810px;
	}
}
