---
title: Ted Alff, Programmer
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ted Alff, Programmer</title>
	<meta name="description" content="Projects page for Ted Alff">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css">
	<link href="main.css" rel="stylesheet" type="text/css">
	<link href="projects.css" rel="stylesheet" type="text/css">

	<!--Fonts-->
	<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif|Roboto&display=swap" rel="stylesheet">
</head>
<body data-page-prefix="projects">
	{% include common.html %}
	<div class="gallery no-display overlay-box">
		<div class="gallery-ctr">
			<div class="gallery-slider">
				<h2>Here's the container!</h2>
			</div>
		</div>
		<button class="btn-arrow btn-arrow-prev" id="gallery-prev"><i class="fas fa-chevron-left"></i></button>
		<button class="btn-arrow btn-arrow-next" id="gallery-next"><i class="fas fa-chevron-right"></i></button>	
	</div>
	<main>
		<section class="projects">
			<h2>My Projects</h2>
			<form class="projects-search no-display">
				<fieldset>
					<legend>Search Projects</legend>
					<input type="text" id="project-search-field" placeholder="Search projects entries">
					<button id="clear-field" aria-label="clear-search-field"><i class="fas fa-times"></i></button>
				</fieldset>
			</form>
			<section class="projects-entries"></section>
			{% include page-nav.html %}
		</section>
	</main>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="common.js"></script>
	<script src="projects.js"></script>
</body>
</html>
