main {
	display: block;
}

.projects-entries {
	margin-top: 12px;
}

.projects-entry {
	position: relative;
	overflow: hidden;
	font-size: 1.2rem;
	padding-top: 6px;
	padding-bottom: 6px;
}

.project-image {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
	position: relative;
}

@media screen and ( min-width: 450px ) {
	.project-image {
		float: left;
		width: 50%;
		min-width: 150px;
		max-width: 500px;
		margin-right: 12px;
		margin-bottom: 6px;
	}
}

.projects-entry img {
	width: 100%;
}

.projects-name {
	margin-bottom: 10px;
	text-align: center
}

.projects-entry h3 {
	font-size: 1.4rem;
	white-space: wrap;
}

.projects-entry a {
	text-decoration: none;
}

.entry-gallery-text {
	position: absolute;
	display: inline-block;
	bottom: 2px;
	right: 2px;
	font-size: 1.0rem;
	background: rgba( 50, 50, 50, 0.8 );
	color: white;
	padding: 4px;
	border-radius: 2px;
}

.gallery {
	position: fixed;
	width: 80%;
	min-width: 240px;
	max-width: 720px;
	height: 80%;
	top: 200px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 6px;
}

.gallery-ctr {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.gallery-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.gallery-item {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	vertical-align: top;
	width: 100%;
	height: 100%;
	text-align: center;
	white-space: normal;
	text-align: center;
}

.gallery-item img {
	margin-top: 10px;
	max-width: 90%;
	max-height: 65%;
	box-shadow: 0 0 8px 10px rgba( 255, 255, 255, 0.8);
	border-radius: 6px;

}

.gallery-caption {
	display: inline-block;
	margin-top: 10px;
	width: 90%;
	text-align: left;
	border: black 2px solid;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
	overflow: auto;
	max-height: 30%;
	font-size: 1.2rem;
	background-color: rgba( 225, 225, 225, 0.9);
	box-shadow: 0 0 8px 10px rgba( 255, 255, 255, 0.8);
	border-radius: 6px;
	
}

@media screen and ( min-height: 500px ) {
	.gallery {
		height: 400px;
		min-height: 400px;
	}
}
